<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>活动添加</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'projecttracking/css/style.css' %}">
</head>
<body>
    <div id="top">
        <h1>活动添加页</h1>
    </div>
    <div id="menu">
        <ul>
            <li><a href="/">主页</a></li>
            <li><a href="/projecttracking/customerlist/">客户列表</a></li>
            <li><a href="/projecttracking/customeradd/">客户添加</a></li>
            <li><a href="/projecttracking/projectlist/">项目列表</a></li>
            <li><a href="/projecttracking/projectadd/">项目添加</a></li>
            <li><a href="/projecttracking/activitylist/">活动列表</a></li>
            <li><a href="/projecttracking/activityadd/">活动添加</a></li>
        </ul>
    </div>
    <div id="content">

        <form action="/projecttracking/activityadd/" method="POST">
            <p>
                <span>客户名称</span>
                <select name="customers" >
                    {% for record in customer_list %}
                        <option value="{{ record.id }}"> {{ record.customer}} </option>
                    {% endfor %}
                </select>
            </p>
            <p>
                <span>项目名称</span>
                <select name="projects" >
                    {% for record in project_list %}
                        <option value="{{ record.id }}"> {{ record.project}} </option>
                    {% endfor %}
                </select>
            </p>

            <p><span>活动内容</span><textarea name="activity_content" ></textarea></p>
            <p><span>下一步计划</span><textarea name="next_step" ></textarea></p>
            <p><input type="submit" value="添加"></p>
        </form>
    </div>

</body>
</html>