<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>客户添加</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'projecttracking/css/style.css' %}">
    <script type="text/javascript" src="{% static 'projecttracking/js/external.js' %}"></script>
</head>
<body>
    <div id="top">
        <h1>客户添加页</h1>
    </div>
    <div id="menu">
        <ul>
            <li><a href="/">主页</a></li>
            <li><a href="/projecttracking/customerlist/">客户列表</a></li>
            <li><a href="/projecttracking/customeradd/">客户添加</a></li>
            <li><a href="/projecttracking/projectlist/">项目列表</a></li>
            <li><a href="/projecttracking/projectadd/">项目添加</a></li>
        </ul>
    </div>
    <div id="content">
        <form action="/projecttracking/customeradd/" method="POST">
            <p><span>客户名称</span><input id="customer" type="text" name="customer"  required /></p>
            <p><span>Sales Division</span><input id="sales_division" type="text" name="sales_division"  /></p>
            <p><span>Sales Team</span><input id="sales_team" type="text" name="sales_team"  /></p>
            <p><span>ASE</span><input id="ase" type="text" name="ase"  /></p>
            <p><span>ASE Manager</span><input id="ase_manager" type="text" name="ase_manager"   /></p>
            <p><span>DCSE</span><input id="dcse" type="text" name="dcse"  /></p>
            <p><span>DCSE Manager</span><input id="dcse_manager" type="text" name="dcse_manager"   /></p>
            <p><span>UDS Sales</span><input id="uds_sales" type="text" name="uds_sales"  /></p>
            <p><input type="submit" value="添加"></p>
        </form>
    </div>
    <div id="bottom"></div>
</body>
</html>