<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>项目添加</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'projecttracking/css/style.css' %}">
</head>
<body>
    <div id="top">
        <h1>项目添加页</h1>
    </div>
    <div id="menu">
        <ul>
            <li><a href="/">主页</a></li>
            <li><a href="/projecttracking/customerlist/">客户列表</a></li>
            <li><a href="/projecttracking/customeradd/">客户添加</a></li>
            <li><a href="/projecttracking/projectlist/">项目列表</a></li>
            <li><a href="/projecttracking/projectadd/">项目添加</a></li>
        </ul>
    </div>

    <div id="content">
        <form action="/projecttracking/projectadd/" method="POST">
            <p>
                <span>项目名称</span>
                <input id="project" type="text" name="project"  required />
            </p>
            <p>
                <span>客户名称</span>
                <select name="customers" >
                    {% for record in customer_list %}
                        <option value="{{ record.id }}"> {{ record.customer}} </option>
                    {% endfor %}
                </select>
            </p>
            <p><span>解决方案</span><input name="solution" type="text"  /></p>
            <p><span>项目金额(K$)</span><input name="revenue" type="text"  /></p>
            <p><span>下单时间</span><input name="target_date" type="text"  /></p>
            <p><span>当前状态</span><input name="status" type="text" /></p>
            <p><input type="submit" value="OK" /></p>
        </form>
    </div>


</body>
</html>