<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>对象存储添加</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
</head>
<body>
    <div id="top">
        <h1>对象存储添加页</h1>
    </div>
    <div id="menu">
        <ul>
            <li><a href="/">主页</a></li>
            <li><a href="/projecttracking/customerlist/">客户列表</a></li>
            <li><a href="/projecttracking/customeradd/">客户添加</a></li>
            <li><a href="/projecttracking/projectlist/">项目列表</a></li>
            <li><a href="/projecttracking/projectadd/">项目添加</a></li>
            <li><a href="/storagematrix/objectstorage">对象存储比较</a></li>
            <li><a href="/storagematrix/objectstorageadd">对象存储添加</a></li>
        </ul>
    </div>
    <div id="content">
        <form action="/storagematrix/objectstorageadd/" method="POST">

        <!--Object Storage General-->
            <p><span>名称</span><input id="product_name" type="text" name="product_name"  required /></p>
            <p><span>厂商</span><input id="vendor" type="text" name="vendor"  required /></p>
            <p><span>软件版本</span><input id="software_version" type="text" name="software_version" /></p>
            <p><span>发布时间</span><input id="release_date" type="text" name="release_date" /></p>
            <p><span>部署选项</span><input id="deployment_option" type="text" name="deployment_option"  /></p>
            <p><span>节点类型</span><input id="node_type" type="text" name="node_type" /></p>

        <!--Object Storage Interface-->
            <p><span>S3</span><input id="s3" type="text" name="s3"  /></p>
            <p><span>Swift</span><input id="swift" type="text" name="swift"  /></p>
            <p><span>NFS</span><input id="nfs" type="text" name="nfs" /></p>
            <p><span>CIFS</span><input id="cifs" type="text" name="cifs"  /></p>
            <p><span>HDFS</span><input id="hdfs" type="text" name="hdfs" /></p>

        <!--Object Storage Scalability-->
            <p><span>最大容量每集群</span><input id="max_capacity_per_cluster" type="text" name="max_capacity_per_cluster"   /></p>
            <p><span>最大节点数每集群</span><input id="max_nodes_per_cluster" type="text" name="max_nodes_per_cluster"  /></p>
            <p><span>最大桶数每集群</span><input id="max_buckets_per_cluster" type="text" name="max_buckets_per_cluster" /></p>
            <p><span>最大对象数每集群</span><input id="max_objects_per_cluster" type="text" name="max_objects_per_cluster"  /></p>
            <p><span>最大容量每桶</span><input id="max_capacity_per_bucket" type="text" name="max_capacity_per_bucket" /></p>
            <p><span>最大对象数每桶</span><input id="max_objects_per_bucket" type="text" name="max_objects_per_bucket" /></p>
            <p><span>最大对象数每节点</span><input id="max_objects_per_node" type="text" name="max_objects_per_node" /></p>

        <!--Object Storage Data Availability-->
            <p><span>纠删码</span><input id="erasure_code" type="text" name="erasure_code"   /></p>
            <p><span>多份拷贝</span><input id="multi_copy" type="text" name="multi_copy"  /></p>
            <p><span>磁盘故障</span><input id="disk_failure" type="text" name="disk_failure" /></p>
            <p><span>节点故障</span><input id="node_failure" type="text" name="node_failure"  /></p>
            <p><span>机柜故障</span><input id="rack_failure" type="text" name="rack_failure" /></p>
            <p><span>站点故障</span><input id="site_failure" type="text" name="site_failure"  /></p>

        <!--Object Storage Data Service-->
            <p><span>重删</span><input id="dedupe" type="text" name="dedupe"   /></p>
            <p><span>压缩</span><input id="compression" type="text" name="compression"  /></p>
            <p><span>分层到云</span><input id="tiering_to_cloud" type="text" name="tiering_to_cloud" /></p>
            <p><span>自动分层</span><input id="autotiering" type="text" name="autotiering"  /></p>
            <p><span>WORM</span><input id="worm" type="text" name="worm" /></p>
            <p><span>多版本</span><input id="versioning" type="text" name="versioning"  /></p>
            <p><span>元数据搜索</span><input id="metadatasearch" type="text" name="metadatasearch"  /></p>
            <p><span>多站点访问</span><input id="multi_sites_access" type="text" name="multi_sites_access"  /></p>
            <p><span>跨接口访问</span><input id="cross_interface_access" type="text" name="cross_interface_access" /></p>
            <p><span>多站点分发</span><input id="multi_sites_distribution" type="text" name="multi_sites_distribution"  /></p>
            <p><span>负载均衡</span><input id="access_load_balance" type="text" name="access_load_balance" /></p>

        <!--Object Storage Access Security-->
            <p><span>访问控制列表</span><input id="acl" type="text" name="acl" /></p>
            <p><span>桶策略</span><input id="bucket_polic" type="text" name="bucket_policy"  /></p>
            <p><span>用户策略</span><input id="user_policy" type="text" name="user_policy" /></p>

        <!--Object Storage Operation-->
            <p><span>安装过程</span><input id="installation_procedure" type="text" name="installation_procedure"  /></p>
            <p><span>性能监控</span><input id="performance_monitoring" type="text" name="performance_monitoring"   /></p>
            <p><span>容量监控</span><input id="capacity_monitoring" type="text" name="capacity_monitoring"  /></p>
            <p><span>故障告警</span><input id="alert" type="text" name="alert" /></p>
            <p><span>审计日志</span><input id="audit_log" type="text" name="audit_log"  /></p>
            <p><span>数据访问日志</span><input id="data_access_log" type="text" name="data_access_log" /></p>

        <!--Object Storage Hardware Spec-->
            <p><span>CPU</span><input id="cpu" type="text" name="cpu"  /></p>
            <p><span>内存</span><input id="memory" type="text" name="memory"  /></p>
            <p><span>磁盘</span><input id="disk" type="text" name="disk"  /></p>
            <p><span>网络</span><input id="network" type="text" name="network" /></p>

        <!--Object Storage Ecosystem-->
            <p><span>Isilon</span><input id="isilon" type="text" name="isilon"  /></p>
            <p><span>Datadomain</span><input id="datadomain" type="text" name="datadomain"  /></p>
            <p><span>NBU</span><input id="nbu" type="text" name="nbu"  /></p>

            <p><input type="submit" value="添加"></p>
        </form>
    </div>
    <div id="bottom"></div>


</body>
</html>