body{
    background: #C7EDCC;
}

#top {
    height: 50px;
    margin: 5px;
    clear: both;
}

#menu {
    width: 120px;
    height: 200px;
    float: left;
    margin: 5px;
}

#content {
    float: left;
    width: 90%;
    border-left: seagreen solid 1px;
    padding-left: 10px;

}

#activitylist{
    border-top: solid 1px;
    padding: 10px;
}

ul {
    list-style-type:none;
    margin:0;
    padding:0;
}



/*
table,table tr th, table tr td {
    border:1px solid;
    word-wrap: break-word;
    font-size: 14px;
}
*/
table {
    width: 100%;
    table-layout:fixed;
    min-height: 25px;
    line-height: 25px;
    text-align: center;
    border-collapse: collapse;
    padding:2px;
}
table tr th {
    border:1px solid;
    word-wrap: break-word;
    font-size: 14px;
}
table tr td {
    border:1px solid;
    word-wrap: break-word;
    font-size: 14px;
}
#td_longcontent{
    text-align: left;
    padding-left: 10px;
}

#thin_td{
    width: 40px;
}

#normal_td{
    width: 80px;

}

a{
    text-decoration:none;
}

span {
    width: 150px;
    display: inline-block;
}

textarea{
    width: 100%;
    resize: none;
}
